@import "./styles/normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,900&family=Martel:wght@400;600&family=Orelega+One&family=Righteous&display=swap");

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont,"Lato" "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
button {
  background-color: rgb(72, 77, 109);
  color: rgb(239, 233, 244);
  border: solid 1px rgb(239, 233, 244);
  border-radius: 8px;
  transition: 0.8s;
}
button:hover {
  background-color: rgb(239, 233, 244);
  border-radius: 8px;
  color: black;
  border: solid 1px rgb(72, 77, 109);
}
button:visited {
  /* color: rgb(72, 77, 109); */
  text-decoration: none;
}
