.contenedor {
  border: 2px;
  border-color: rgb(188, 216, 193);
  border-style: solid;
  background-color: whitesmoke;
  height: auto;
  width: 230px;
  justify-self: center;
  align-self: stretch;
}
